<!-- examples.component.html -->
<div class="container">
  <!-- Tab navigation for desktop -->
  <mat-tab-nav-panel #tabPanel>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="d-none d-sm-flex">
      <a mat-tab-link
         *ngFor="let e of examples"
         [routerLink]="e.link"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive"
         [disabled]="e.auth && !(isAuthenticated$ | async)">
        {{e.label | translate}}
      </a>
    </nav>
  </mat-tab-nav-panel>

  <!-- Dropdown for mobile -->
  <nav class="nav-responsive d-sm-none d-flex justify-content-center">
    <mat-select [placeholder]="'anms.examples.title' | translate" [value]="'todos'">
      <mat-option *ngFor="let e of examples"
        [value]="e.link"
        (click)="navigateTo(e.link)"
        [disabled]="e.auth && !(isAuthenticated$ | async)">
        {{e.label | translate}}
      </mat-option>
    </mat-select>
  </nav>

  <!-- Content with router outlet -->
  <div [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
    <router-outlet #o="outlet"></router-outlet>
  </div>
</div>
